/*main*/

.download_button {
  background-color: #ffffff;
  border: 2px solid #f30707;
  color: #f30707;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.panel-title{
	color:black !important;
	background-color: transparent !important;
	border-bottom: none !important;
}
canvas
{
    background-color: #ffffff;
}
.all_dash {
    background-color: #eceaea9c;
}
.purchase_heading {
    color: red;
    font-style: oblique;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}
i.fa.fa-2x.fa-file-pdf-o {
    color: red;
}
.all_dash.col-xs-12.col-md-12.col-lg-12.col-sm-8 {
    width: 78%;
}
/*User Head*/
.media {
    /*box-shadow:0px 0px 4px -2px #000;*/
    /*margin: 20px 0;*/
    padding:10px;
    padding-left: 0px;
}
.media-body {
    padding-left: 10px;
}
.dp {
    border:10px solid #eee;
    transition: all 0.2s ease-in-out;
}
.dp:hover {
    border:2px solid #eee;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    /*-webkit-font-smoothing:antialiased;*/
}
/*Dashboard head blocks*/
.row-sm {
    margin-left: -10px;
    margin-right: -10px;
}
.row-sm > div {
    padding-left: 10px;
    padding-right: 10px;
}
{
    overflow: hidden;
}

.rounded {
    border-radius: 3px !important;
}
.pd-25 {
    padding: 25px;
}
.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}
.pd-25 {
    padding: 25px;
}
.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}
.ion-earth:before {
    content: "\f276";
}
.mg-l-20 {
    margin-left: 50px !important;
}
.tx-10 {
    font-size: 13px;
}
.tx-uppercase {
    text-transform: uppercase;
}
.tx-spacing-1 {
    letter-spacing: -0.5px;
}
.tx-white-8 {
    color: rgba(255, 255, 255, 0.8);
}
.tx-mont {
    font-family: "Montserrat", "Fira Sans", "Helvetica Neue", Arial, sans-serif;
}
.tx-medium {
    font-weight: 900;
}
.mg-b-10 {
    margin-bottom: 10px;
}
.tx-24 {
    font-size: 24px;
}
.lh-1 {
    line-height: 1.1;
}
.tx-white {
    color: #fff;
}
.tx-lato {
    font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
}
.tx-bold {
    font-weight: 600;
}
.mg-b-2 {
    margin-bottom: 2px;
}
.tx-11 {
    font-size: 13px;
}
.tx-white-6 {
    color: rgba(255, 255, 255, 0.6);
}
.tx-roboto {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}
.bg-teal {
    background-color: #026355;
}
.bg-danger {
    background-color: #a30313;
}
.bg-br-primary {
    background-color: #1D2939;
}
.bg-primary {
    background-color: #03478c !important;
}
.margintp{
margin-top:40px
}
.panelheadingpad{
padding:14px;
}

.bg-dash{
transition: transform .3s;
}
.bg-dash:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
transform: scale(1.1); 
}
.bg-dash_inv{
margin-left: 20px;
margin-top:20px
}
.bg-dash_new{
margin-left: 20px;
margin-top:20px;
height:200px;
max-width:270px;
}
.heading{
color:white;
font-size:
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column-dash {
  float: left;
  width: 20%;
}
.inner-dash{
  padding:10px;
 }
.bg-dash{
 padding:10px;
 margin-top:12px;
 border-radius: 6px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.column-chart{
 float: left;
  width: 40%;
  padding: 10px;
 }
 .dash-heading{
 	padding: 5px;
    text-align: center;
    background-color: white;
 }
 .bg-chart{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 transition: transform .5s;
 }
 .bg-chart:hover{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
transform: scale(1.05); 
 }
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    float: left;
    width: 47%;
    margin: 0px 6px 0px 6px;
    margin-top: 15px;
    height: 198px;
    transition: transform .4s;
}
.card:hover{
transform: scale(1.05); 
}
.card-head{
    background-color: #f8628c;
    padding: 3px;
    text-align: center;
    color: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 13px 0 rgba(0, 0, 0, 0.19);
}

.col-inner{
float: left;
  width: 70%;
  color:#6a6969;
}
.col-inner-val{
float: right;
  width: 30%;
  color:#6a6969;
}
.dash-sale{
background: linear-gradient(230deg, #759bff, #843cf6);
}
.dash-quot{
background: linear-gradient(316deg, #fc5286, #fbaaa2);
}
.dash-inv{
    background: linear-gradient(135deg, #ffc480, #ff763b);
}
.dash-tot{
    background: linear-gradient(to bottom, #299a92, #2c94de);
}
.all_dash-purchase {
    background-color: #4c4b4b;
    padding-bottom:52px;
}
.dash-heading-purchase{
 	padding: 5px;
    text-align: center;
    background-color: #6b6a6af2;
 }
 .panel-title-purchase{
	color:white !important;
	background-color: transparent !important;
	border-bottom: none !important;
}
.bg-chart-purchase{
 background-color: #6a6969 !important;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 transition: transform .5s;
}
 .bg-chart-purchase:hover{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
transform: scale(1.05); 
 }
.panel-title-purchase{
	color:white !important;
	background-color: transparent !important;
	border-bottom: none !important;
}
.card-purchase {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    float: left;
    width: 47%;
    margin: 0px 6px 0px 6px;
    margin-top: 15px;
    height: 198px;
    transition: transform .4s;
    background-color: #6a6969;
}
.card-purchase:hover{
transform: scale(1.05); 
}
.col-inner-purchase{
float: left;
  width: 70%;
  color:white;
}
.col-inner-val-purchase{
float: right;
  width: 30%;
  color:white;
}
